* {
    padding: 0;
    margin:0;
    font-family: Arial, sans-serif;
}
body{
    background-color: #f8f9fa;
}
/* ----------HEADER---------- */
header {
    padding: 10px 15px;
    background-color: #0a1128;
    display: flex;
    justify-content: space-between;
    align-items: center;
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;

}
.logo h1 {
    color: white;
    
}
.logo a {
    text-decoration: none; 
}
.logo img{
    width: 250px;
}
.nav {
    margin-right: 30px;
    display: flex;
    gap: 15px;
    font-size: 18px;
}
.nav a{
    border-radius: 50px;
    list-style: none;
    text-decoration: none;
    color: white;
    padding: 8px;
    transition: background-color 0.3s ease-in-out;

}
.nav a:hover{
    border-radius: 50px;
    background-color: #f8f9fa;
    color:#0a1128;
}
.menuH{
    margin-right: 30px;
    display: none;
    position: relative;
}
.menuH img{
    cursor: pointer;
    width: 40px;
}
/* ----------MAIN---------- */
main {
    /*     */
    /* background-color: #f8f9fa; */
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    color: #0a1128;
    
}
.apresentacao{
    display: flex;

    align-items: center;
    text-align: center;
    border-radius: 30px;
    margin-top: 90px;
    padding: 20px;
    width: 60%; 
    height: 200px;
    color: #f8f9fa;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    background-color: #0a1128;
}
.sobre {
    text-align: center;
    padding: 10px;   
}
.content {
    margin-top: 50px;
    width: 60%;
    background-color: white;
    padding: 10px;
    gap: 50px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.partS{
    padding: 10px;
}
.imgCard img {
    width: 150px;
    border-radius: 100px;
}
.card{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
    padding: 10px;
    border-radius: 30px;
}
.detalhes{
    gap: 3px;
    text-align: center;
    font-size: 20px;
}
.partEsq{
    background-color: #0a1128;
    color: #f8f9fa;
    border-radius: 30px;
}
.partDir{
    padding: 10px;
    margin-top: 30px;
    text-align: center;

}
.txtInt{
    font-weight: bold;
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 20px;
}
.habilidade{
    margin-top: 50px;
    width: 60%;
    background-color: white;
    padding: 10px;
    gap: 50px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);

}
.dev{
    display: flex;
    justify-content: center;
    align-items: center;
    gap:10px;
}
.dev img {
    width: 80px;
}
.cardHab{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.projeto{
    margin-top: 50px;
    width: 60%;
    background-color: white;
    padding: 10px;
    gap: 50px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.contato{
    margin-top: 50px;
    width: 60%;
    background-color: white;
    padding: 10px;
    gap: 50px;
    border-radius: 30px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.2);
}
.contatoArea {
    margin-top: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
}
.socMe{
    text-align: center;
    display: flex;
    flex-direction: column;
}
.socMe img{
    width: 50px;
    transition: transform 0.3s ease;
}

.socMe img:hover {
    transform: translateY(-3px); /* Efeito sutil ao passar o mouse */
}
/* ----------FOOTER---------- */
footer {
    background-color: #0a1128;
    padding: 10px;
}

/* ------------------------------ */
@media (max-width: 768px) {
    body {
        font-size: 16px;
        padding-top: 50px; 
    }
    .logo img{
        width: 150px;
    }
    .menuH{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }

    .nav {
        display: none; /* Esconde os links por padrão */
        width: 100%; /* Ocupa toda a largura */
        background-color: #0a1128;
        position: absolute;
        top: 50px;
        left: 0;
        flex-direction: column; /* Links um abaixo do outro */
        text-align: center;
        transform: translateY(-100%); /* Escondido para cima */
        transition: transform 0.3s ease-in-out; 
    }
    .nav.active {
        display: flex; /* Mostra o menu */
        transform: translateY(0); /* Desliza para baixo */
    }
    .nav a{
    transition: background-color 0.3s ease-in-out;

    }
    .nav a:hover{
        font-size: 19px;
        border-radius: 50px;
        background-color: #0a1128;
        color:#f8f9fa;
    }
    .dev{
        flex-wrap: wrap;
    }
}